* {
	margin:0;
	padding:0;
}
body {
	background: #000;
	color: #fff;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
}
a {
	color: #003d4c;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: #367889;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
	background:#fff;
	color: #000;
	font-size: 100%;
}
h2 {
	color: #263248;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 190%;
}
h3 {
	color: #7E8AA2;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 165%;
}
h4 {
	color: #7E8AA2;
	font-weight: normal;
}
ul, li {
	margin: 0 12px;
}
p {
	margin-bottom : 20px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
#container {
	text-align: left;
}

#header{
	padding: 10px 20px;
}
#header h1 {
	line-height:20px;
	background: #000 no-repeat left;
	color: #fff;
	padding: 0px 10px;
}
#header h1 a {
	color: #fff;
	background: #000;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	background: #000;
	text-decoration: underline;
}
#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
	border-top: 3px solid #FF9800;
	border-bottom: 3px solid #FF9800;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#fff');
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
	background: -moz-linear-gradient(top, #eee, #fff);
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
	font-size: 60%;
}
div.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;	
}
p.error {
	background: #e32 url('../images/error.png') no-repeat top right;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: green url('../images/warning.png') no-repeat top right;	
}
.success {
	background: green url('../images/ok.png') no-repeat top right;
	color: #fff;
}
.code {
	background: #333 url('../images/paper.png') no-repeat top right;	
	color: #eee;
	font-size: 120%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0.8em;
}
.logo {
	width: 48px;
	height: 48px;
	background: url('../images/ssf_logo.png') no-repeat;
}